img {
  border: 8px solid #555;
  border-radius: 18px;
}

img.incorrect {
  border: 4px solid Red;
  width: 120px;
}

img.correct {
  border: 4px solid LightGreen;
  width: 120px;
}


.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.right {
  width: 75%;
}