img#flag {
  border: 8px solid #555;
  border-radius: 18px;
}

img.incorrect {
  border: 2px solid Red;
  height: 100px;
  border-radius: 4px;
}

img.correct {
  border: 2px solid LightGreen;
  height: 100px;
  border-radius: 4px;
}

div.incorrect {
  background-color: tomato;
  border-radius: 4px;
  margin-bottom: 4px
}

div.correct {
  background-color: yellowgreen;
  border-radius: 4px;
  margin-bottom: 4px
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  height: 80vh;
  overflow-y: auto;
}

.right {
  width: 70%;
}

#map {
  height: 360px; 
  width: 100%;
  border: 8px solid #555;
  border-radius: 18px;
  padding-top: 10px;
}