img {
  border: 8px solid #555;
  border-radius: 18px;
}

.wrong {
  border: 8px solid Red;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

.right {
  width: 75%;
}